[submodule "qtile/qtile-examples"]
	path = qtile/qtile-examples
	url = https://github.com/ShobhanKarthick/LinuxDotFiles.git
[submodule "dwm"]
	path = dwm
	url = https://github.com/ShobhanKarthick/dwm.git
[submodule "st"]
	path = st
	url = https://github.com/ShobhanKarthick/st.git
